absl-py==0.6.1
astor==0.7.1
biopython==1.72
certifi==2016.2.28
cffi==1.11.5
click==6.7
cvxpy==1.0.10
dill==0.2.8.2
ecos==2.0.7.post1
fancyimpute==0.4.2
fastcache==1.0.2
future==0.17.1
gast==0.2.0
GEOparse==1.1.0
grpcio==1.16.1
h5py==2.8.0
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
knnimpute==0.1.0
Markdown==3.0.1
MarkupSafe==1.1.0
multiprocess==0.70.6.1
np-utils==0.5.7.0
numpy==1.15.4
osqp==0.4.1
pandas==0.23.4
protobuf==3.6.1
pycparser==2.19
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
rpy2==2.9.4
scikit-learn==0.20.1
scipy==1.1.0
scs==2.0.2
singledispatch==3.4.0.3
six==1.11.0
tensorboard==1.12.0
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
torch==0.4.1.post2
tzlocal==1.5.1
Werkzeug==0.14.1
wgetter==0.7
